<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add New Company Information</title>
<script type="text/javascript"
	src="../resources/js/jquery/2.1.4/jquery-2.1.4.js"></script>
<script type="text/javascript"
	src="../resources/js/angular_js/1.3/angular.js"></script>
<script type="text/javascript"
	src="../resources/js/spring.mongo.connector/app.js"></script>
</head>
<body ng-app="spring.mongo.connector">
	<div>
		<!-- Title -->
		<div>
			<span>Add New Company Information</span>
		</div>
		<!-- Body -->
		<div ng-controller="addNewCompanyController">
			<!-- New Company Information Form -->
			<form novalidate class="simple-form">
				<div>
					<label title="Comapny Full Information" for="companyFullName"></label>
					<input id="comapnyFullName" name="comapnyFullName" type="text"
						required="required" placeholder="Type Company Full Name"
						ng-model="company.fn" />
				</div>
				<div>
					<label title="Comapny Short Information" for="companyShortName"></label>
					<input id="comapnyShortName" name="comapnyShortName" type="text"
						placeholder="Type Company Short Name" ng-model="company.sn" />
				</div>
				<div>
					<label title="Comapny WebSite" for="companyWebSite"></label> <input
						id="companyWebSite" name="companyWebSite" type="text"
						placeholder="Type Company WebSite" ng-model="company.ws" />
				</div>
				<div>
					<label title="Comapny Inn" for="companyInn"></label> <input
						id="companyInn" name="companyInn" type="text"
						placeholder="Type Company Inn" required="required"
						ng-model="company.inn" />
				</div>
				<div>
					<label title="Select Company Industry" for="companyIndustry"></label>
					<select id="companyIndustry" name="companyIndustry"
						ng-model="company.ids" ng-model="companyIndustrySelect">
						<option>--- Type Company Industry ---</option>
					</select>
				</div>
				<!-- 	<div>
					<location></location>
					<location></location>
				</div> -->
				<input type="submit" name="addNewCompany"
					ng-click="addNewCompany(company)">
			</form>
			<pre>{{result}}</pre>
			<pre>{{company}}</pre>
		</div>
		
	</div>

</body>
</html>